body
{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

header
{
    background-color: white;
    padding: 15px;
    box-shadow:0 0 3px ; color: black;
}

header li
{
    display: inline;
    padding-left: 45px;
}

header li a
{
  color: black;  
  text-decoration: none;
  padding: 13px;
  transition: .3s ease;
}
header li a:hover
{
  color: royalblue;    
}

header ul #contact a
{
    color: white;
    background-color: royalblue;
    border-radius: 30px;
    float: right;
    position:relative;
    top: -15px;
    transition: .3s ease;
}

header ul #contat a:hover
{
    background-color: goldenrod;

}

header li img
{
    width: 180px;
    float: left;
    margin-top: -20px;
}

.active 
{
    color: royalblue;
}